WCFBibliotecaTest/Connected Services/LibrosWS/Libros.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49525/Libros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" />
  <xs:element name="CrearLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="libroACrear" nillable="true" type="q1:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="CrearLibroResult" nillable="true" type="q2:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoLibro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="ObtenerLibroResult" nillable="true" type="q3:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="libroAModificar" nillable="true" type="q4:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarLibroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="ModificarLibroResult" nillable="true" type="q5:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoLibro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLibroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLibros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="ListarLibrosResult" nillable="true" type="q6:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibroPorTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibroPorTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="ObtenerLibroPorTituloResult" nillable="true" type="q7:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibroPorAutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibroPorAutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" minOccurs="0" name="ObtenerLibroPorAutorResult" nillable="true" type="q8:Libro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>