WCFBibliotecaTest/Connected Services/LibrosWS/Libros2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFBiblioteca.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoLibro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Paginas" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
  <xs:complexType name="ArrayOfLibro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro" nillable="true" type="tns:ArrayOfLibro" />
</xs:schema>